{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 card p-3 mt-5" style="background-color: rgba(0, 0, 0, 0.5);">    
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h3 class="h3 mb-3">Connexion à votre compte</h3>
                
                <div class="md-form">
                    <label for="inputEmail">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                </div>

                <div class="md-form mt-3">
                    <label for="inputPassword">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-lock"></i></div>
                        </div>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
                #}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                <div class="row">
                    <div class="col mx-3">
                        <button class="btn btn-outline-light btn-block" type="submit">Se connecter</button>
                    </div>
                    <div class="col mx-3">
                        <a href="{{ path('forget_password') }}" class="btn btn-outline-light btn-block">Mot de passe oublié</a> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
