{% extends 'layout.html.twig' %}

{% block title %}Réintialisation de mot de passe{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 card p-3 mt-5 ombre" style="background-color: rgba(0, 0, 0, 0.5);">
        <h3 class="h3 mb-3 font-weight-normal">Remplissez les champs suivants pour changer votre mot de passe</h3>

        {{ form_start(form) }}
        {{ form_row(form) }}

        <button type="submit" class="btn btn-block btn-outline-light">Enregistrer les modifications</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
