{% extends 'layout.html.twig' %}

{% block title %}Réintialisation du mot de passe{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 card p-3 mt-5" style="background-color: rgba(0, 0, 0, 0.5);">
            <h3 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h3>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-light btn-block">Réintialiser votre mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}