{% extends 'layout.html.twig' %}

{% block title %}MentionLegal{% endblock %}

{% block content %}
    <div class="container">

        
        <div class="row mt-4 mb-4">
            <div class="col">
              <div class="card"style="background-color: rgba(0,0,0,0.5);color:white;">
                <div class="card-body">
                  <h3 class="card-title text-center">FOIRE AUX QUESTIONS</h3>
                </div>
              </div>
            </div>
            </div>
            

            <div id="accordion">
                <div class="card"  style="background-color: rgba(0,0,0,0.5);color:white;">
                  <div class="card-header" id="headingOne">
                    <h3 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Est-il obligatoire de réserver ?
                      </button>
                    </h3>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Ce n’est pas obligatoire mais conseillé. En effet, seule une réservation pourra vous garantir de jouer le jour et à l’horaire qui vous conviennent le mieux. Il est possible de réserver à partir de 4 joueurs. Pour réserver maintenant en ligne, c’est simple, gratuit, sans CB et c’est ici !
                        
                        Attention, votre présence au complet ¼ d’heure avant le début votre partie sera indispensable.
                    </div>
                  </div>
                </div>
          
          
                <div class="card mt-4" style="background-color: rgba(0,0,0,0.5);color:white;">
                  <div class="card-header" id="headingTwo">
                    <h3 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      
                        À combien peut-on jouer ?
                      </button>
                    </h3>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Le minimum pour lancer une partie est 4 participants. Le maximum de joueurs à Lille Centre est de 30 personnes (labyrinthe de 550 m²). Le maximum de joueurs à Lomme est de 42 personnes (labyrinthe de 800 m²).
                    </div>
                  </div>
                </div>
         
                
         
                <div class="card mt-4" style="background-color: rgba(0,0,0,0.5);color:white;">
                  <div class="card-header" id="headingThree">
                    <h3 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        À partir de quel âge peut-on jouer ?
                      </button>
                    </h3>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        À partir de 9 ans. Il est également nécessaire de mesurer au moins 1m20. Ces 2 conditions doivent êtres réunies.
                    </div>
                  </div>
                </div>
              </div>
          

              <div class="card mt-4" style="background-color: rgba(0,0,0,0.5);color:white;">
                <div class="card-header" id="headingfour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Faut-il venir avec une tenue particulière ?
                    </button>
                  </h5>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                  <div class="card-body">
                    Venez dans la tenue que vous souhaitez ! Un jean et une paire de baskets font parfaitement l’affaire mais nous avons beaucoup de clients qui jouent très bien en costume/cravate lors de séminaires d’entreprises ! Petite astuce : une tenue sombre vous permettra d’être plus furtif …
                  </div>
                </div>
              </div>

              <div class="card mt-4" style="background-color: rgba(0,0,0,0.5);color:white;">
                <div class="card-header" id="headingfive">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">  
                        Les chèques ANCV sont-ils acceptés ?
                    </button>
                  </h5>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                  <div class="card-body">
                   Tout à fait ! Les 3 centres Starship Laser acceptent les chèques ANCV, dans le respect des dates et conditions d’utilisation imposées par la loi.
                  </div>
                </div>
              </div>
          
              <div class="text-right mr-3 mb-3">
            <a href="{{path('home')}}">
            Retournez à la page d'accueil
            </a>
        </div>
    </div>
{% endblock %}
