{% extends 'layout.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h3 class="card-title text-center font">Présentation</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h4 class="font" style="text-decoration: underline;">Le centre</h4>
                        <p>Venez affronter vos adversaires grâce à votre pistolet laser ! Dans un labyrinthe futuriste plongé dans la pénombre et dans une ambiance sonore délirante, vous aurez besoin de tous vos réflexes pour mener à bien votre mission.</p>
                        <p>Vous l'aurez compris, l'univers de Star Wars est au rendez-vous. À vous les x-wings, les snowspeeder, les chasseurs TIE et sans oublier, le fameux faucon millenium.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h4 class="font" style="text-decoration: underline;">Déroulement d'une partie</h4>
                        <p>Vous êtes prêts ? Venez jouer seul ou en groupe, avec ou sans réservation dans nos labyrinthes sur plusieurs niveaux ! Notre équipe est à votre disposition pour vous guider dans toutes les étapes de votre mission …</p>
                        <h5>Votre partie</h5>
                        <ol class="ml-3">
                            <li>Briefing des équipes
                                <p>Pendant 5 minutes, suivez le briefing vidéo sur écran et découvrez les règles du jeu, le maniement du matériel et les règles de sécurité.</p>
                            </li>
                            <li>Partie de laser game
                                <p>C’est parti ! Pendant 45 minutes, tentez de tirer sur un maximum d’adversaires en vous faisant toucher le moins possible.</p>
                            </li>
                            <li>Découvertes des scores
                                <p>A votre sortie du labyrinthe, découvrez immédiatement le classement par équipe et solo et recevez votre feuille de score personnalisée et sur écran.</p>
                            </li> 
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h4 class="font" style="text-decoration: underline;">Nos modes de jeu</h4>
                        <h5>Mode solo</h5>
                        <p>Chacun pour soi ! Le but ? Tirez sur tout ce qui bouge et réalisez le meilleur score !</p>
                        <h5>Mode team</h5>
                        <p>Faites des équipes et établissez une stratégie ! Votre objectif ? Faire marquer un maximum de points à votre équipe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
