{% extends 'layout.html.twig' %}

{% block title %}Nos tarifs{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h3 class="card-title text-center font">Nos tarifs</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h4 class="font" style="text-decoration: underline;">Le programme de fidélité</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis harum commodi officia modi, quo ut ipsam totam! Eveniet tenetur voluptates, nihil praesentium dolorem laboriosam et animi quae, repellendus hic cupiditate!</p>
                        <p>Si vous souhaitez réserver une partie pour un groupe (plus de 5 personnes), n'hésitez pas à nous contacter au <a href="tel:+3320000000" class="text-link">03 20 00 00 00</a> ou par email à <a href="#" class="text-link">contact@laserwars.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">
                <div class="card ombre" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="card-body">
                        <h4 class="font" style="text-decoration: underline;">Le programme de fidélité</h4>
                        <p>Chez LASERWARS, votre fidélité vous est récompensée. Pour chaque réservation ou achat de ticket, vous recevrez un certain nombre de crédits à échanger contre des récompenses, soit une friandise, soit un costume de votre personnage préféré à valoir lors de votre prochaine visite.</p>
                        <p>Vous retrouverez toutes les informations soit sur votre profil, soit dans la boutique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
