{% extends 'layout.html.twig' %}

{% block title %}Ajout de carte de fidélité{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 card p-3 mt-5" style="background-color: rgba(0, 0, 0, 0.5);">
            <h3 class="h3 mb-3 font-weight-normal">Ajout de carte de fidélité</h3>
            {{ form_start(form) }}

            {{ form_row(form.serial) }}

            <button type="submit" class="btn btn-block btn-outline-light">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
