<h1>
    Bonjour {{ user.firstname|capitalize }} !
</h1>
<br>

<p>
    Merci de bien vouloir cliquer sur le lien suivant afin d'activer votre compte :
</p>
<br>

<p>
    <a href="{{ url }}" target="_blank">{{ url }}</a>
</p>
<br>

<p>
    Si le lien ne fonctionne pas, merci de le copier puis de le coller dans la barre d'adresse de votre navigateur.
</p>
<br>

<p>
    Une fois votre compte activé, vous pourrez vous connecter et acheter ou réserver une partie.
</p>
<br>

<p>
    ---------------<br>
    Ceci est un mail automatique, Merci de ne pas y répondre.
</p>