<h1>
    Bonjour {{ user.firstname|capitalize }} !
</h1>
<br>

<p>
    Aujourd'hui c'est votre anniversaire.
</p>
<br>

<p>
    A cette ocassion nous vous offrons une place gratuite à utiliser quand bon vous semble.
</p>
<br>

<p>
    Vous la trouverez sur votre espace client.
</p>
<br>

<p>
    ---------------<br>
    Ceci est un mail automatique, Merci de ne pas y répondre.
</p>