<h1>
    Bonjour {{ user.firstname|capitalize }} !
</h1>
<br>

<p>
    Nous vous confirmer le paiement d'un montant de {{ sum }}€.
</p>
<br>

<p>
    Vous retrouverez vos achats sur notre site sur votre espace client.
</p>
<br>

<p>
    ---------------<br>
    Ceci est un mail automatique, Merci de ne pas y répondre.
</p>