<h1>
    Bonjour {{ user.firstname|capitalize }} !
</h1>
<br>

<p>
    Il vous reste encore {{ credits }} crédits à utiliser dans nos locaux.
</p>
<br>

<p>
    Vos crédits arrivent à expiration dans un délais de 2 semaines.
</p>
<br>

<p>
    N'hésitez pas à les utiliser.
</p>
<br>

<p>
    ---------------<br>
    Ceci est un mail automatique, Merci de ne pas y répondre.
</p>