<h1>
    Bonjour {{ user.firstname|capitalize }} !
</h1>
<br>

<p>
    Vous venez de recevoir votre récompense pour votre fidélité.
</p>
<br>

<p>
    Le code <strong><code>{{ serial }}</code></strong> vous permettra d'avoir {{ title|lower }} lors de votre prochaine partie.
</p>
<br>

<p>
    ---------------<br>
    Ceci est un mail automatique, Merci de ne pas y répondre.
</p>